/*---- ESTILOS GENERALES ----*/
html {
    font-size: 1.6rem;
}

body {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fonttitle: 'Poppins';
    --fonttext: 'Montserrat';
    --fontcode: 'Kanit';
    --backgroundcolor: #FDF1F7;
    --titlecolor: #4A8073;
    --subtitlecolor: #636363;
    --itemscolor: #3d3c3d;
    --textguidecolor: rgba(50, 50, 50, 0.9);
    --objetscolor: #228380;
    --backgroundcode: rgba(0, 0, 0, 0.8)
}


.layout {
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    background: var(--backgroundcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #757F9A;
    background: linear-gradient(to bottom, #ffffff, #b3c6c4);
}



/*---- ESTILOS DEL HEADER ----*/
.header {
    width: 80%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*-- LOGO Y NAME --*/
.header__container-creator {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}


.creator__img {
    width: 2.5rem;
    height: 2.5rem;
}


.creator__container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.creator__item {
    font-family: var(--fonttext);
    font-size: 0.5rem;
    font-weight: 600;
}


.creator__desc {
    font-size: 0.3rem;
    font-weight: 700;
}



/*-- LINKS --*/
.header__nav {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}


.nav__link {
    text-decoration: none;
    font-family: var(--fonttext);
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--itemscolor);
    transition: all 200ms ease;
    display: flex;
    justify-content: center;

    &:hover {
        filter: invert(40%) contrast(150%);
        color: var(--objetscolor);
    }
}


.nav__link:last-child {
    color: #000;
    font-size: 0.9rem;
}





/*---- ESTILOS DEL HERO ----*/

/*-- TITLES --*/
.section__titles {
    width: 80%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}


.titles__title {
    font-family: var(--fonttitle);
    font-size: 2.9rem;
    color: var(--titlecolor);
    text-align: center;
    text-wrap: nowrap;
    text-shadow: 0px 0px 2px #333;
}


.titles__subtitle {
    font-family: var(--fonttitle);
    font-size: 0.9rem;
    color: var(--subtitlecolor);
    text-align: center;
    text-wrap: balance;
    text-wrap: pretty;
    text-shadow: 0px 0px 1px #111;
}







/*---- ESTILOS DEL MAIN ----*/
.section__main {
    width: 80%;
    margin: 10rem 0 0 0;
}


.main__main {
    width: 100%;
}



.main__title {
    margin: 0 0 3rem 0;
    font-family: var(--fonttitle);
    font-size: 1.5rem;
    color: var(--titlecolor);
    text-align: center;
}


.mainlist__text {
    margin: 5rem 0 0.5rem 0;
    font-family: var(--fonttitle);
    color: var(--itemscolor);
    font-size: 1rem;
    font-weight: 700;
    display: flex;
}



.container__mainlist {
    padding: 0.3rem 0 3rem 0;
    font-family: var(--fonttext);
    font-size: 0.6rem;
    font-weight: 600;
}


.mainlist__item {
    padding: 0.7rem 0 0 0;
    font-weight: 600;
    list-style: none;
}


strong,
b {
    font-weight: 800;
}



.main__endpoints {
    padding: 1rem 0 1rem 0;
    font-family: var(--fonttitle);
    color: var(--itemscolor);
    font-size: 1rem;
    font-weight: 700;
}




/*-- GRILLAS --*/
.main__container-containers {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'paso1'
        'paso2'
        'paso3'
        'paso4'
        'paso5';
    grid-gap: 4rem;
}


.container-1 {
    grid-area: paso1;
}

.container-2 {
    grid-area: paso2;
    justify-self: end;
}

.container-3 {
    grid-area: paso3;
}

.container-4 {
    grid-area: paso4;
    justify-self: end;
}

.container-5 {
    grid-area: paso5;
}






/*-- PASOS --*/
.main__container {
    width: 30rem;
    height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #444;
}




.main__subtitle {
    padding: 0 0 0.8rem 0;
    font-family: var(--fonttitle);
    font-size: 1.1rem;
    color: var(--objetscolor);
    text-shadow: 0px 0px 2px #ccc;
}


.main__ul-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main__li-items {
    padding: 0.3rem 0;
    list-style: none;
    font-family: var(--fonttitle);
    color: var(--textguidecolor);
    font-size: 0.6rem;
    font-weight: 800;
    letter-spacing: 1px;
}


.main__li-items>code {
    margin: 0 0 0 0.5rem;
    padding: 0.2rem 1rem;
    background: var(--backgroundcode);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: var(--fontcode);
    font-size: 0.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: 0px 0px 4px #000;
    text-shadow: 0px 0px 1px #555;
}


.description__text {
    display: inline;
    font-weight: 600;
    letter-spacing: 0px;
    color: var(--itemscolor);
}




/*-- CURL / URL --*/
.main__solicitud {
    padding: 1rem 0 0.4rem 0;
    list-style: none;
    font-family: var(--fonttitle);
    color: var(--itemscolor);
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 1px;
}



.main__code>code {
    margin: 0;
    padding: 0.2rem 1rem;
    background: var(--backgroundcode);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: var(--fontcode);
    font-size: 0.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: 0px 0px 4px #000;
    text-shadow: 0px 0px 1px #555;
}



.main__respuesta {
    padding: 1rem 0 0.4rem 0;
    list-style: none;
    font-family: var(--fonttitle);
    color: var(--itemscolor);
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 1px;
}