/*---- ESTILOS GENERALES ----*/
html {
    font-size: 1.6rem;
}

body {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fonttitle: 'Poppins';
    --fonttext: 'Montserrat';
    --backgroundcolor: #FDF1F7;
    --titlecolor: #61ADA0;
    --subtitlecolor: #B2D5BA;
    --itemscolor: #2c272c;
    --objetscolor: #248F8D;
}


.layout {
    width: 100dvw;
    height: 100dvh;
    background: var(--backgroundcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(80% 130% at 50% 50%, rgb(255, 255, 255), rgba(97, 173, 160, 0.5) 150%)
}



/*---- ESTILOS DEL HEADER ----*/
.header {
    width: 80%;
    height: 3rem;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*-- LOGO Y NAME --*/
.header__container-creator {
    display: flex;
    align-items: center;
    justify-content: center;
}


.creator__img {
    width: 2.5rem;
    height: 2.5rem;
}


.creator__container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.creator__item {
    font-family: var(--fonttext);
    font-size: 0.5rem;
    font-weight: 600;
}


.creator__desc {
    font-size: 0.3rem;
    font-weight: 700;
}



/*-- LINKS --*/
.header__nav {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}


.nav__link {
    text-decoration: none;
    font-family: var(--fonttext);
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--itemscolor);
    transition: all 200ms ease;
    display: flex;
    justify-content: center;

    &:hover {
        filter: invert(50%) contrast(150%);
    }
}


.nav__link:last-child {
    color: #000;
    font-size: 0.9rem;
}





/*---- ESTILOS DEL HERO ----*/

/*-- TITLES --*/
.section__titles {
    width: 80%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}


.titles__title {
    font-family: var(--fonttitle);
    font-size: 2.9rem;
    color: var(--titlecolor);
    text-wrap: nowrap;
    text-shadow: 0px 0px 2px #555;
}


.titles__subtitle {
    font-family: var(--fonttitle);
    font-size: 0.9rem;
    color: var(--subtitlecolor);
    text-wrap: pretty;
}